.body{
    height: 100vh;
    background-color:white;
   
}
.side-logo{
    height: 80vh;
    align-items: center;
    background-color: #F0F8FF;
    box-sizing: content-box;
    margin: 70px 0 70px 250px;
    width: 30%;
}
.side-logo img{
    margin: 240px 0;
   width: 180px;
   height: 90px;
}


.side-logo1{
    height: 80vh;
    align-items: center;
    background-color:#2f4f4f;
    box-sizing: content-box;
    margin: 70px 200px 70px 0;
    width: 30%;
   
}
.logintext{
    background: transparent !important;
    outline: none !important;
    margin: auto !important;
    border: none !important;
    color: white !important;
    width: 68% !important;
    padding: 10px !important;

}
.form-control:focus {
    outline:none !important;
    box-shadow: none !important;
}
.hr-2{
    width: 72%;
    color: white;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 12px;
}


.loginform{
    margin-top: 180px;
}
.btnlogin{
padding: 5px;
margin: 35px;
margin-top: 90px;
width: 65%;
background-color: #f7941d;
color: black;
outline: none;
border: none;
height: 42px;
}
.forgot-pass{
    color: white;
    font-weight: 500 !important;
    font-size: small;
    cursor: pointer;
}
.check{
    display: flex;
    color: white;
    padding: 5px;
  
}
.check input{
    margin-left: 15%;
}
.check p{
    margin-top: 6px;
    margin-left: 5px;
    font-size: small;
}
.check input{
    margin-top: 10px;
}
.small-logo{
display: none;
}
@media (max-width: 1400px) {
  .side-logo{
      display: none;
      margin: 0;
      
  }
  .side-logo1{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      background-color: black;
  }
  .loginform{
      margin-top: 100px;
      
  }
  .btnlogin{
      margin-top: 50px;
  }
  .check{
    margin: 10px 60px;
}
.small-logo{
    display: flex;
    width: 200px;
    height: 100px;
    margin: 40px auto 0 auto ;
}
.check input{
    margin-left: 10%;
}

  }
  @media (max-width: 600px) {
    .check input{
        margin-left: 5%;
    }
  }




  #title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #students {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #students td, #students th {
    border: 2px solid #ff8243;
    padding: 8px;
  }
  
  #students tr:nth-child(even){background-color: #f2f2f2;}
  
  #students tr:hover {background-color: #ddd;}
  
  #students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }


  .pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 40px;
    padding: 0;
   }
   
   .pagination a {
    cursor: default;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6c7ac9;
    color: #6c7ac9;
    margin-left: 10px;
   }
   
   .pagination li:not(.disabled) a:hover {
    background-color: bisque;
    cursor: pointer;
   }
   
   .pagination li a {
    font-weight: bold;
   }
   
   .pagination li.active a {
    color: #fff;
    background: #6c7ac9;
   }
   
   .pagination li.disabled a {
    pointer-events: none;
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
   }

   .searchbar{
       height: 40px;
       width: 400px;
       float: right !important;
       padding: 6px;
       margin-right: 20px;
       border: none;
       outline: none;
       border-radius: 25px;
   }
   .btn-dashboard{
       padding: 6px;
       margin: 4px;
       height: 40px;
       border-radius: 12px;
       border: none;
       outline: none;
   }